<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>monsters/monster_0000_Layer-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 135}, {52, 64}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 1}, {52, 64}}</string>
			<key>sourceSize</key>
			<string>{65, 66}</string>
		</dict>
		<key>monsters/monster_0004_Layer-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {52, 66}}</string>
			<key>offset</key>
			<string>{-2, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 0}, {52, 66}}</string>
			<key>sourceSize</key>
			<string>{65, 66}</string>
		</dict>
		<key>monsters/monster_0013_Layer-14.png</key>
		<dict>
			<key>frame</key>
			<string>{{199, 1}, {48, 64}}</string>
			<key>offset</key>
			<string>{4, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12, 2}, {48, 64}}</string>
			<key>sourceSize</key>
			<string>{65, 66}</string>
		</dict>
		<key>monsters/monster_0014_Layer-15.png</key>
		<dict>
			<key>frame</key>
			<string>{{67, 201}, {52, 64}}</string>
			<key>offset</key>
			<string>{2, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 2}, {52, 64}}</string>
			<key>sourceSize</key>
			<string>{65, 66}</string>
		</dict>
		<key>monsters/monster_0021_Layer-22.png</key>
		<dict>
			<key>frame</key>
			<string>{{55, 135}, {52, 64}}</string>
			<key>offset</key>
			<string>{-2, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 2}, {52, 64}}</string>
			<key>sourceSize</key>
			<string>{65, 66}</string>
		</dict>
		<key>monsters/monster_0022_Layer-23.png</key>
		<dict>
			<key>frame</key>
			<string>{{59, 67}, {48, 64}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {48, 64}}</string>
			<key>sourceSize</key>
			<string>{65, 66}</string>
		</dict>
		<key>monsters/monster_0030_Layer-31.png</key>
		<dict>
			<key>frame</key>
			<string>{{55, 1}, {56, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 1}, {56, 64}}</string>
			<key>sourceSize</key>
			<string>{65, 66}</string>
		</dict>
		<key>monsters/monster_0031_Layer-32.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 69}, {56, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 1}, {56, 64}}</string>
			<key>sourceSize</key>
			<string>{65, 66}</string>
		</dict>
		<key>monsters/monster_0039_Layer-40.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 201}, {52, 64}}</string>
			<key>offset</key>
			<string>{2, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {52, 64}}</string>
			<key>sourceSize</key>
			<string>{65, 66}</string>
		</dict>
		<key>monsters/monster_0040_Layer-41.png</key>
		<dict>
			<key>frame</key>
			<string>{{133, 1}, {48, 64}}</string>
			<key>offset</key>
			<string>{4, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12, 0}, {48, 64}}</string>
			<key>sourceSize</key>
			<string>{65, 66}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>textureFileName</key>
		<string>monsters.png</string>
	</dict>
</dict>
</plist>
